@use '../../variables' as var;

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 0.3s;
}

.fade-out {
  animation: fadeOut 0.4s;
}

.success-snackbar {
  div {
    background-color: var.$color-primary;
    border-color: var.$color-accent;
  }
}

.success-snackbar, .error-snackbar {
  cursor: pointer;
  left: 50%;
  transform: translateX(-50%);
  z-index: 101;
}