.arrow-button {
    height: 28px;
    width: 28px;
    color: white;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    cursor: pointer;
  }