.unit-issue {
  max-height: 17.125rem;
  border: solid 1px $color-darkgray;
  border-radius: 28px;
  max-width: unset;
  padding-inline: 1.25rem;
  padding-block: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0px 4px 8px rgb(230, 244, 241);
  gap: 0.5rem;

  .unit-title {
    text-align: center;
    user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    max-height: 2.75rem;
    align-items: center;
    display: flex;
    white-space: nowrap;
    width: 100%;

    a {
      max-width: calc(100% - 4rem);
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .closed {
      margin-left: 0.5rem;
      font-size: 12px;
      color: gray;
    }
  }

  .unit-author {
    display: flex; 
    align-items: center; 
    font-size: 18px;
      
      .profile-picture {
        margin-right: 8px; 
      }
  }

  .unit-labels {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    overflow: hidden;
    max-height: 3.75rem;
  }

  .unit-description {
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    min-height: 56px;
    max-height: 56px;
    overflow: hidden;
    overflow-wrap: anywhere;
  }

  .unit-footer {
    width: 100%;
    margin-top: auto;
    padding-top: 0.5rem;
    display: flex;
    justify-content: space-between;

    .unit-comments {
      margin-right: 1rem;
    }

    a {
      margin-left: auto;

      button {
        padding: 6px 12px;
        user-select: none;
        span {
          margin-left: 6px !important;
        }
      }
    }
  }
}