.profile-badge {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .picture {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-right: 6px;
  }

  .name {
    display: flex;
    align-items: center;
    gap: 3px;
    user-select: none;

    .ujepsoft-email {
      font-size: 12px;
    }
  }
}