<p>
    Uživateli {{ email }},<br>

    zde je Váš odkaz pro resetování hesla na platformu UJEP Soft, po kliknutí na odkaz si můžete změnit heslo.<br>

<a href="{{ link }}">Odkaz pro reset hesla</a>
</p>

<p>
    Pokud odkaz nelze otevřít, zkopírujte si následující adresu do Vašeho prohlížeče:<br>
    {{ link }}
</p>

<p>
    Tento e-mail byl vygenerován automaticky, prosím neodpovídejte na něj. Pokud jste o tento e-mail nežádali, ignorujte ho.
</p>

<footer>
    S pozdravem,<br>
    Tým UJEP Soft
</footer>