@use '../../variables' as var;

.navbar {
  width: 100%;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    min-width: 42rem;
    padding: 3rem;

    a {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      cursor: default;

      h1 {
        font-weight: 500;
        font-size: 3rem;
        cursor: pointer;
        margin: 0;
      }
    }

    .img-wrapper {
      width: 100%;

      a {
        justify-content: flex-end;
      }

      img {
        max-height: 4.375rem;
        max-width: 21.875rem;
        width: 18.75rem;
        height: 4.375rem;
        cursor: pointer;  
      }
      a {
        justify-content: right;
      }
    }
  }

  .bottom-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding-inline: 2rem;
    border-block: 1px solid var.$color-darkgray;
    background-color: var.$color-lightgray;

    ul {
      display: flex;
      flex-direction: row;
      gap: 2rem;

      li {
        display: flex;
        align-items: baseline;
        font-size: 1.2rem;
        margin-block: 1rem;
        cursor: pointer;
        text-transform: uppercase;

        a {
          display: flex;
          align-items: baseline;
        }

        &:hover {
          text-decoration: underline;
          color: #333;
        }
      }
    }

    .user-wrapper {
      display: flex;
      margin-left: auto;
      align-items: center;
      flex-direction: row;
      
      span {
        margin-inline: 0.5rem;
        text-align: end;
      }

      button {
        max-height: 2.2rem;
        text-wrap: nowrap;
      }
    }
  }
}

@media (max-width:820px) {
  .navbar {
    header {
      padding: 1rem !important;
      min-width: unset !important;

      h1 {
        font-size: 2rem !important;
        padding-left: 0.25rem !important;
      }
    }

    .bottom-wrapper {
      padding-inline: 1rem !important;

      ul {
        gap: 1rem !important;

        li {
          border-radius: 50%;

          a {
            border-radius: 50%;
            
            svg {
              width: 2.5rem;
              height: 2.5rem;
              
              &:hover {
                circle {
                  fill: #3333;
                }
              }
            }
          }
        }
      }

      .user-wrapper {
        padding-left: 1rem !important;

        .login-button {
          padding: 0.75rem !important;
        }

        .logout-button {
          padding-inline: 0.25rem !important;
          padding-block: 0.25rem !important;
          border-radius: 50% !important;
          max-height: unset !important;

          svg {
            width: 2rem;
            height: 2rem;
            min-width: 2rem;

            path {
              scale: 5;
              fill: white;
              translate: 20% 12%;
            }
          }
        }
      }
    }
  }
}