.navbar {
  width: 100%;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 3rem;

    a {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: default;

      h1 {
        font-weight: 500;
        font-size: 3rem;
        cursor: pointer;
        margin: 0;
      }
    }

    .img-wrapper {
      width: 50%;
      display: flex;
      justify-content: center;

      img {
        max-height: 70px;
        max-width: 350px;    
      }
    }
  }

  .bottom-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding-inline: 2rem;
    border-block: 1px solid rgb(222, 226, 230);
    background-color: rgb(248, 249, 250);

    ul {
      display: flex;
      flex-direction: row;
      gap: 2rem;

      li {
        display: flex;
        align-items: baseline;
        font-size: 1.2rem;
        margin-block: 1rem;
        cursor: pointer;
        text-transform: uppercase;

        a {
          display: flex;
          align-items: baseline;
        }

        &:hover {
          text-decoration: underline;
          color: #333;
        }
      }
    }

    .user-wrapper {
      display: flex;
      margin-left: auto;
      align-items: center;
      flex-direction: row;
      
      span {
        margin-right: 0.5rem;
      }
    }
  }
}