.files-wrapper {
    width: 100%;

    .show-more {
      font-size: 1.25rem;
      width: fit-content;
      display: flex;
      align-items: center;
      user-select: none;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
      
      span {
        margin-right: 0.5rem;
      }

      svg {
        height: 1.375rem;
        transition: transform 0.2s;
      }
    }


    .files {
      margin-top: 0.5rem;
      gap: 0.5rem;
      display: flex;
      flex-direction: column;

      .file {
        a {
          text-decoration: none !important;
        }
      }
      a:hover {
        text-decoration: none !important;
      }
    }
  }