.general-modal {
  h1 {
    user-select: none;
    font-size: 18px;
  }

  .buttons {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    button:hover {
      border-color: inherit;
    }
  }

  h2 {
    margin-top: 1rem;
    margin-left: 2px;
  }

  input {
    height: 36px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    padding-left: 12px;
    margin-top: 6px;
    margin-bottom: 6px;

    &:focus-visible {
        border-color: gray;
        outline: 0px;
    }
  }
}