.general-modal {
  h1 {
    user-select: none;
    font-size: 1.125rem;
    text-wrap: wrap;
    text-align: center;
  }

  .buttons {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    button:hover {
      border-color: inherit;
    }
  }

  h2 {
    margin-top: 1rem;
    margin-left: 0.125rem;
  }

  input {
    margin-bottom: 0.375rem;
  }
}

@media (max-width: 820px) {
  .general-modal {
    width: 80vw;
    
    h1 {
      font-size: 1.5rem !important;
    }
  }
}