.homepage {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1;

  header,.offer-container {
    padding-inline: 3rem;
    width: 85vw;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
      text-align: center;
      margin-block: 1rem;
      font-size: 40px;
    }

    p {
      text-align: center;
      font-size: 18px;
      margin-bottom: 1rem;
    }
  }
  
  .offer-container {

    margin-block: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px; 
    max-width: 100%;

    .unit-offer {
      .keyword {
        max-width: 22.125rem;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

@media (max-width:1060px) {
  .homepage {
    header,.offer-container {
      width: 100% !important;
      padding-inline: 1rem !important;
    }

    .no-issues {
      margin-bottom: 1rem;
    }  
  }
}