.homepage {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .offer-container {
    padding-inline: 3rem;
    width: 85vw;
    margin-block: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px; 
    max-width: 100%;
    overflow: hidden;
  }
}