.issue-page {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: calc(100svh - 223px);
  padding-inline: 3rem;
  gap: 0.5rem;
  margin-bottom: 2rem;

  .loading-screen {
    width: 100%;
  }

  header {
    margin-top: 1rem;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;

    .header-buttons {
      display: flex;
      flex-direction: row;
      align-items: center;

      h1 {
        max-width: 100%;
        overflow-wrap: anywhere;
        font-size: 32px;
        margin-right: 2px;
      }

      .edit-icon, .remove-icon {
        width: 30px;
        height: 30px;
        min-width: 30px;
        min-height: 30px;
        border-radius: 5px;
        padding: 6px;
        margin-left: 6px;
        cursor: pointer;
      }

      .edit-icon {
        background-color: #E6F4F1;
        &:hover {
          background-color: #D4E2DF;
        }
      }

      .remove-icon {
        background-color: #FCE8E8;
        &:hover {
          background-color: #F8C9C9;
        }
      }
    }



    .repo {
      font-size: 24px;
      display: flex;
      align-items: center;
      gap: 4px;

      .repo-author {
        font-size: 16px;
      }
    }
  }

  .labels {
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.25rem;
    flex-wrap: wrap;
  }

  .dates {
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
    align-items: center;
    font-size: clamp(0.8rem, 1.5vw, 1rem);
    color: #6E6E6E;
    user-select: none;
  }

  .description-wrapper {
    max-width: 100%;
    overflow-wrap: anywhere;

    h2 {
      font-size: 18px;
    }

    .description {
      margin-top: 2px;

      .no-description {
        font-style: italic;
        color: gray;
      }    
    }
  }

  .comments-wrapper {
    width: 100%;

    h2 {
      font-size: 18px;
    }
  }
}