.offer-page {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 1;
  padding-inline: 3rem;
  gap: 1rem;

  .loading-screen {
    width: 100%;
  }

  header {
    margin-top: 1rem;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;

    .header-buttons {
      display: flex;
      flex-direction: row;
      align-items: center;

      h1 {
        max-width: 100%;
        overflow-wrap: anywhere;
        font-size: 32px;
        margin-right: 2px;
      }

      .edit-icon, .remove-icon {
        width: 30px;
        height: 30px;
        min-width: 30px;
        min-height: 30px;
        border-radius: 5px;
        padding: 6px;
        margin-left: 6px;
        cursor: pointer;
      }

      .edit-icon {
        background-color: #E6F4F1;
        &:hover {
          background-color: #D4E2DF;
        }
      }

      .remove-icon {
        background-color: #FCE8E8;
        &:hover {
          background-color: #F8C9C9;
        }
      }
    }



    h2 {
      font-size: 24px;
    }
  }

  .keywords {
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.25rem;
    flex-wrap: wrap;

    .keywords-span {
      margin-right: 0.25rem;
    }
  }

  .description-wrapper {
    max-width: 100%;
    overflow-wrap: anywhere;

    h2 {
      font-size: 18px;
    }

    .description {
      margin-top: 2px;
    }
  }
}