@use '../../variables' as var;

.login {
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: flex-start;
    width: clamp(20.625rem, 40vw, 28.125rem);
    user-select: none;

    h1 {
        margin-left: 0.125rem;
        margin-bottom: 1rem;
        font-size: 1.5rem;
        font-weight: 500;
    }

    label {
        margin-left: 0.125rem;
    }

    .footer {
        display: flex;
        flex-direction: row;
        white-space: nowrap;
        justify-content: space-between;
        height: 1.25rem;
        width: 100%;

        .remember-me {
            height: 100%;
            display: flex;
            align-items: baseline;

            input {
                margin-top: 0px;
                width: 0.813rem;
                height: 0.813rem;
                margin-right: 0.375rem;
                accent-color: var.$color-primary;
                cursor: pointer;
            }
    
            label {
                cursor: pointer;
            }
        }

        .password-reset-label {
            cursor: pointer;
    
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 0.625rem;
        justify-content: space-between;
        width: 100%;

        button {
            &:hover {
                border-color: inherit;
            }
            &:focus {
                outline: 0;
            }
        }
    }
}