.new-comment {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  .attachment-wrapper {
    position: relative;

    input {
      width: 100%;
      height: 100%;
    }
  }

  button {
    margin-top: 1rem;
  }
}