.keyword {
  background-color: $color-lightaccent;
  border-radius: 6px;
  align-items: center;
  padding-inline: 0.5rem;
  padding-block: 2px;
  max-height: 1.5rem;
  color: white;
  cursor: default;
  user-select: none;
  overflow: hidden;

  &:hover {
    background-color: darken($color-lightaccent, 10%);
  }
}