.tooltip {
    display: flex;

    .button {
        padding: 0;

        &:hover {
            outline: 0;
            border-color: transparent;
        }

        &:focus {
            outline: 0;
        }
    }

    .panel {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -140%) !important;
        box-shadow: 0px 0px 0.938rem 0.188rem rgba(0,0,0,0.1);
        white-space: nowrap;
    }
}

@media (max-width: 1060px) {
    .tooltip {
        .panel {
            transform: translate(-14%, -140%) !important;
        }
    }
}