// $color-primary: #70587c;
// $color-secondary: #91859f;
// $color-accent: #53606a;
$color-primary: #4f3a41;
$color-secondary: #9f5449;
$color-accent: #eb9762;
// $color-lightpurple: #bfb0c6;
$color-lightpurple: #bcb0a1;
$color-lightgray: rgb(248, 249, 250);
$color-darkgray: rgb(222, 226, 230);
$color-darkpurple: #502f4c;
