$color-primary: #9F5449;
$color-secondary: #4F3A41;
$color-lightaccent: #a79074;
$color-lightgray: rgb(248, 249, 250);
$color-darkgray: rgb(222, 226, 230);
$color-darkpurple: #502F4C;
$color-accent: #EB9762;