@tailwind base;
@tailwind components;
@tailwind utilities;
@import "_variables";
@import 'components/**/*.scss';
@import 'pages/**/*.scss';
@import 'contexts/**/*.scss';

#root {
  width: 100%;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}

/* Disabled */
.disabled {
  cursor: not-allowed;
}

.scrollbar, body {
  &::-webkit-scrollbar {
    width: 8px;
    background-color: #EFEFEF;
    height: 8px;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: #AFAFAF;
    border-radius: 3px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #909090;
  }
}

@supports not (-webkit-appearance: none) {
  .scrollbar, html {
    scrollbar-width: thin;
    scrollbar-color: #AFAFAF #EFEFEF;
  }
}

.html-inner {
  margin-bottom: 1rem;

  h1,h2,h3,h4,h5,h6 {
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 2.5rem;
    border-bottom: 1px solid ghostwhite;
  }

  h2 {
    font-size: 2rem !important;
  }

  h3 {
    font-size: 1.75rem !important;
  }

  h4 {
    font-size: 1.5rem !important;
  }

  h5 {
    font-size: 1.25rem !important;
  }

  h6 {
    font-size: 1rem !important;
  }

  a {
    color: #007bff !important;
    text-decoration: underline;
    &:hover {
      text-decoration: underline;
    }
  }

  blockquote {
    padding: 0 1em !important;
    border-left: 4px solid #ddd;
    background-color: #f6f8fa;
  }

  blockquote + blockquote {
    margin-top: -1rem;
  }

  pre {
    background-color: #f6f8fa;
    border-radius: 3px;
    border: 1px solid #ddd;
    padding: 1em !important;
    overflow: auto;
    white-space: pre-wrap; 
    word-wrap: break-word;
  }

  code {
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    background-color: #eff1f3;
    border-radius: 6px;
  }

  &>ul, &>ol, &>menu, &>il, &>p, &>pre, &>blockquote {
    margin-bottom: 1rem !important;
    margin: initial;
    padding: initial;
  }

  ul>li {
    list-style: disc;
    margin-left: 20px;
  }
  ul>ul {
    li {
      list-style: circle;
      margin-left: calc(20px + 1rem);
    }
    ul>li {
      list-style: square;
      margin-left: calc(20px + 2rem);
    }
    &>ul>ul {
      li {
        list-style: square;
        margin-left: calc(20px + 3rem);
      }
      ul>li {
        list-style: square;
        margin-left: calc(20px + 4rem);
      }
    }
  }

  ol>li {
    list-style: decimal;
    margin-left: 20px;
  }
  ol>ol {
    li {
      list-style: decimal;
      margin-left: calc(20px + 1rem);
    }
    ol>li {
      list-style: decimal;
      margin-left: calc(20px + 2rem);
    }
  }

  ol>li {
    list-style: decimal;
    margin-left: 20px;
  }
  ol>ol {
    li {
      list-style: decimal;
      margin-left: calc(20px + 1rem);
    }
    ol>li {
      list-style: decimal;
      margin-left: calc(20px + 2rem);
    }
    &>ol>ol {
      li {
        list-style: decimal;
        margin-left: calc(20px + 3rem);
      }
      ol>li {
        list-style: decimal;
        margin-left: calc(20px + 4rem);
      }
    }
  }
  
  p:last-of-type {
    margin-bottom: 0 !important;
  }
}

.rdw-editor-wrapper {
  width: 100%;
  margin-top: 6px;
  border: 1px solid #CCCCCC;
  min-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  &.focused {
    border-color: gray;
    outline: 0px;
  }

  .rdw-editor-toolbar {
    margin: -1px;

    .rdw-dropdown-optionwrapper {
      width: inherit;
    }
  }

  .rdw-dropdown-selectedtext {
    color: black;
  }

  .rdw-dropdown-optionwrapper {
    position: absolute;
    width: auto;
  }

  .rdw-emoji-modal {
    position: absolute;
    height: 150px;
  }

  .editorClassName {
    display: flex;
    flex: 1 1;
    cursor: text;

    .DraftEditor-root {
      min-width: 12px;
      width: 100%;
      height: unset;

      .DraftEditor-editorContainer {
        height: 100%;
        overflow: hidden;

        div {
          span, strong, i, del {
            font-family: 'Roboto' !important;
          }
        }

        h1 {
          font-size: 2.5rem !important;
        }

        h2 {
          font-size: 2rem !important;
        }

        h3 {
          font-size: 1.75rem !important;
        }

        h4 {
          font-size: 1.5rem !important;
        }

        h5 {
          font-size: 1.25rem !important;
        }

        h6 {
          font-size: 1rem !important;
        }
      }
    }
  }
}

.edit-button, .remove-button, .done-button {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  cursor: pointer;
  border-radius: 0.25rem;

  &.edit-button {
    background-color: #E6F4F1;
    &:hover {
      background-color: #D4E2DF;
    }
  }

  &.remove-button {
    background-color: #FCE8E8;
    &:hover {
      background-color: #F8C9C9;
    }
  }

  &.done-button {
    background-color: #ddd3ee;
    &:hover {
      background-color: #cfc1e7;
    }
  }
}

@media (max-width:1060px) {
  h1 {
    font-size: 2rem !important;
  }
}