.password-reset {
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: flex-start;
    width: clamp(330px, 40vw, 450px);
    user-select: none;

    h1 {
        margin-left: 2px;
        margin-bottom: 1rem;
        font-size: 1.5rem;
        font-weight: 500;
    }

    label {
        margin-left: 2px;
    }

    input {
        height: 36px;
        width: 100%;
        border-radius: 5px;
        border: 1px solid #CCCCCC;
        padding-left: 12px;
        margin-top: 6px;

        &:focus-visible {
            border-color: gray;
            outline: 0px;
        }
    }

    p {
        margin-top: 2px;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 4px;
        justify-content: space-between;
        width: 100%;

        button {
            &:hover {
                border-color: inherit;
            }
            &:focus {
                outline: 0;
            }
        }
    }
}